*{
  box-sizing: border-box;
}
html{
background-color: #f2dfe4;
}

body{
font-family: "Futura";
line-height: 1.5em;
}

header{
display:flex;
justify-content: center;
}

nav{
  display: none;
}
a img{
  max-width: 2em;
  margin: 0.7em;
  margin-right: -5em;
  cursor: pointer;
}

.logo{
max-width: 50%;
margin: 0.5em 2em;
}

form fieldset{
border-radius: 0.75rem;
border-style: solid;
border-width: thin;
border-color: #ffffff;
padding: 1em;
margin: 1em;
display: block;
max-width: 1em;
}

div{
  margin: 1em;
}

div .categorie{
  margin-left: -3em;
  margin-right: 10%;
  display: flex;
}
div .categorie li{
  flex-direction: column;
  list-style: none;
  margin: .5em .5em;
  max-width: 100%;
  padding: .5em 1em;
  background-color: #db0d15;
  border-radius: 0.75rem;
  color: white;
}

.bucketlist fieldset{
  border-radius: 0.75rem;
  border-style: solid;
  border-width: thin;
  border-color: #ffffff;
  padding: 1em;
  margin: 0.5em;
  display: block;
}
.bucketlist fieldset button:nth-child(3){
  background-color:#f2dfe4;
  max-width: 100%;
  text-align: left;
  margin-left: auto;
  margin-top: -2em;
  border-style: none;
  font-family: "futura";
  font-size: 1em;
  color: #db0d15;
  cursor: pointer;
}
.bucketlist fieldset button img{
  max-width: 1em;
  margin-right: 0.5em;
  margin-left: -0.8em;
  cursor: pointer;
}

legend {
  margin-top: 2em;
  font-size: 1.5em;
  color: #db0d15;
  text-align: left;
}

label{
font-size: 0.8em;
display: block;
margin-bottom: 0;
}
input {
  display: block;
  background-color: #f2dfe4;
  padding: 0.2em;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  border-width: thin;
  width: 100%;
  font-family: "futura";
  font-size: 1em;
  color: #db0d15;
}

input[type="radio"]{
display: inline-block;
margin-left: -8em;
margin-right: -8em;
}

input[type="checkbox"]{
display: inline-block;
margin-left: -8em;
margin-right: -8em;
}

form fieldset button{
background-color: #db0d15;
border-style: none;
border-radius: 0.75rem;
padding: 1em;
margin: 1.5em 6em;
margin-bottom: auto;
font-family: "futura";
font-size: 1em;
color: #ffffff;
cursor: pointer;
}

h2{
font-family: "futura";
color: #db0d15;
text-align: center;
}

form button{
background-color: #db0d15;
border-style: none;
border-radius: 0.75rem;
padding: 1em;
margin: 0.5em 7em;
max-width: 100%;
margin-bottom: auto;
font-family: "futura";
font-size: 1em;
color: #ffffff;
cursor: pointer;
}

h4{
font-size: 1em;
color: #000000;
text-align: center;
}

p{
  color: #000000;
  text-align: center;
  margin: 1em;
}

ol li{
  margin-left:-1em;
}

footer a{
  text-decoration: none;
  font-family: "futura";
  margin-left:6em;
  font-size: 1.2em;
  color: #db0d15;
  cursor: pointer;
}

section{
  margin: 1em;
}

section article{
  border-style: solid;
  border-width: thin;
  border-color: #ffffff;
  border-radius: 0.75rem;
  padding: 1em;
  margin: 1em 0;
  background-color: #edc3d0;
}

section article img{
  max-width: 100%;
  max-height: 10em;
  margin-left: 4.5em;
}

section article button{
  background: none !important;
  margin-top: 2em;
  border-style: none;
  color: #db0d15;
  display: inline-block;
}
section article button img{
  margin-top: 1em;
  max-width: 2em;
  margin-left: 6em;
  margin-bottom: 1.5em;
  cursor: pointer;
}

section article h4{
  font-size: 1.5em;
  color: #db0d15;
  margin-bottom: -1em;
}

section article h5{
  font-size: 1em;
  color: #db0d15;
  text-align: center;
}

section article p{
  text-align: center;
  font-size: 0.9em;
  margin-top: -1.5em;
}

section article a:nth-child(2n+6) button{
  background-color:#f2dfe4;
  max-width: 100%;
  text-align: center;
  margin-left: 5em;
  margin-top: -2em;
  border-style: none;
  font-family: "futura";
  font-size: 1em;
  color: #db0d15;
  cursor: pointer;
}
